/* COLORS */
:root {
  font-family: "Be Vietnam", sans-serif;
}

/* MOBILE */
.html {
  font-size: 14px;
  line-height: 1.3;
}

body {
  background: url("../manage-landing-page-img-and-design/images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: top -4rem right -5rem;
  background-size: 110%;
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

/* NAVIGATION */
.nav {
  width: 100%;
  height: 5rem;
}

.container__logo {
  float: left;
}

.nav__logo {
  display: inline-block;
  padding: 2.5rem 0 0 1.5rem;
  width: 8rem;
  height: auto;
}

.container__hamburger {
  width: 2rem;
  float: right;
  position: relative;
  top: 2rem;
  right: 1rem;
  cursor: pointer;
}
.container__hamburger .line {
  width: 1.5rem;
  height: 3px;
  right: 0;
  margin: 5px 0;
  background-color: #242d52;
  transition: all 0.1s ease-in-out;
}
.container__hamburger.--clicked .line:first-of-type {
  transform: rotate(45deg) translate(4px, 6px);
}
.container__hamburger.--clicked .line:nth-of-type(2) {
  background-color: transparent;
}
.container__hamburger.--clicked .line:last-of-type {
  transform: rotate(-45deg) translate(5px, -8px);
}

.block__items {
  display: none;
}
.block__items.--is-visible {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  top: 6rem;
  left: 0;
  right: 0;
  width: 85%;
  margin: 0 auto;
  padding: 1.5rem 0;
  background-color: #fff;
  box-shadow: 1px 1px 4px;
  border-radius: 4px;
}
.block__items .nav__item {
  padding: 0.7rem 0;
  font-size: 0.8rem;
  font-weight: 700;
  color: #242d52;
  cursor: pointer;
}
.block__items .nav__item:hover {
  color: #9095a7;
}

.nav__cta {
  display: none;
}

/* BLOC PRESENTATION */
.container__presentation {
  margin-top: 1rem;
}
.container__presentation .pic_charts {
  display: block;
  width: 100%;
  margin: auto;
}

.container__text-presentation {
  text-align: center;
  line-height: 1.3;
}
.container__text-presentation h1 {
  color: #242d52;
  padding-bottom: 0.5rem;
}
.container__text-presentation p {
  color: #9095a7;
  line-height: 1.6;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .html {
    font-size: 16px;
    line-height: 1.4;
  }

  body {
    background-position: top -10rem right -5rem;
    background-size: 60%;
  }

  .container__hamburger {
    display: none;
  }

  .container__presentation {
    display: flex;
    flex-direction: row-reverse;
  }
  .container__presentation .container__charts {
    height: auto;
  }
  .container__presentation .container__text-presentation {
    max-width: 25%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-end;
    justify-content: center;
  }
  .container__presentation .container__text-presentation h1 {
    font-size: 2.5rem;
  }
  .container__presentation .pic_charts {
    width: 80%;
  }

  .block__items {
    display: flex;
    justify-content: center;
    position: relative;
    top: 2.3rem;
  }
  .block__items .nav__item {
    padding: 0 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
