doctype html
html(lang ="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title manage-landing-page
        link(rel="stylesheet", href="./../css/normalize.css")
        link(rel="stylesheet", href="./../css/reset.css")
        link(rel="stylesheet", href="./../css/styles.css")
        link(href="https://fonts.googleapis.com/css?family=Be+Vietnam:400,500,700&display=swap" rel="stylesheet")
    body
        div.container__tablet-bg
            img.img__tablet(src="./../manage-landing-page-img-and-design/images/bg-tablet-pattern.svg" alt="")      
        div.wrapper.nav
            div.container__logo
                img.nav__logo(src="./../manage-landing-page-img-and-design/images/logo.svg", alt="logo")
            div.container__hamburger
                each line in ["", "", ""] 
                    div.line= line
            ul.block__items
                each val in ["Pricing", "Product", "About Us", "Careers", "Community"]
                    li.nav__item= val
        div.nav__cta Get Started
        div.wrapper.container__presentation
            div.container__charts
                img.pic_charts(src="./../manage-landing-page-img-and-design/images/illustration-intro.svg")
            div.container__text-presentation
                h1 Bring everyone together to build better products.
                p Manage makes it simple for software teams to plan day-to-day tasks while keeping the larger team goals in view.
                div.presentation.cta Get Started
        div.wrapper.container__advantages
                h2 What's different about Manage ?
                p.  
                    Manage provides all the functionality your team needs, without 
                    the complexity. Our software is tailor-made for modern digital product teams.  
        script(src="./../js/main.js")
        