doctype html
html(lang ="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title manage-landing-page
        link(rel="stylesheet", href="./../css/normalize.css")
        link(rel="stylesheet", href="./../css/reset.css")
        link(rel="stylesheet", href="./../css/styles.css")
        link(href="https://fonts.googleapis.com/css?family=Be+Vietnam:400,500,700&display=swap" rel="stylesheet")
    body
        div.design
        div.nav
            div.container__logo
                img.nav__logo(src="./../manage-landing-page-img-and-design/images/logo.svg", alt="logo")
            div.container__hamburger
                div.line
                div.line
                div.line
            ul.block__items.wrapper
                li.nav__item Pricing
                li.nav__item Product
                li.nav__item About Us
                li.nav__item Careers
                li.nav__item Community
