/* COLORS */

$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);
$dark-grayish-blue: hsl(227, 12%, 61%);
$pale-red: hsl(13, 100%, 96%);
$light-gray: hsl(0, 0%, 98%);
$font-size-mobile: 14px;
$font-size-tablet-desktop: 16px;
$line-height-mobile: 1.3;
$line-height-tablet-desktop: 1.4;

:root {
    font-family: 'Be Vietnam', sans-serif;
    text-rendering: optimizeLegibility;
}

/* MOBILE - GENERAL */

.html {
    font-size: $font-size-mobile;
    line-height: $line-height-mobile;
}

.wrapper {
   width: 80%;
   max-width: 960px;
   margin: 0 auto;
}

.cta {
    width: 7rem;
    padding: 0.6rem 0;
    font-size: 0.8rem;
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: 20px;
    color: #fff;
    background-color: $bright-red;
    box-shadow: 0px 6px 10px hsla(12, 88%, 59%, 0.65);
    cursor: pointer;

    &:hover {
       background-color: hsla(12, 88%, 59%, 0.65);
    }   
}

/* BACKGROUND TABLET TOP */

.container__tablet_bg {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    overflow-x: hidden;

    .img__tablet-top {
        width: 100%;
        position: relative;
        top: -5rem;
        right: -4rem;
    }
}

/* BACKGROUND TABLET BOTTOM */

    .container__tablet_bottom {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        // position: relative;
        // z-index: -1;
        overflow-x: hidden;

        .img__tablet-bottom {
            position: absolute;
            width: 18rem;
            right: -8rem;
        }
    
    }


/* NAVIGATION */

.nav {
    height: 5rem;
}

.container__logo {
    float: left;
}

.nav__logo {
    display: inline-block;
    padding: 2.5rem 0 0 0rem;
    width: 7rem;
    height: auto;
    margin-left: 1.5rem;
}

.container__hamburger {
    width: 2rem;
    float: right;
    position: relative;
    top: 2rem;
    right: 1rem;
    cursor: pointer;

    .line {
        width: 1.5rem;
        height: 3px;
        right: 0;
        margin: 5px 0;
        background-color: $dark-blue;
        transition: all .100s ease-in-out;
    } 
    
    &.--clicked .line:first-of-type {
        transform: rotate(45deg) translate(4px, 6px);
    }

    &.--clicked .line:nth-of-type(2) {
        background-color: transparent;
    }

    &.--clicked .line:last-of-type {
       transform: rotate(-45deg) translate(5px, -8px);
    }
}

.block__items {

    display: none;

    &.--visible {
        display: flex;
        flex-direction: column;
        position: absolute;
        text-align: center;
        top: 6rem;
        left: 0;
        right: 0;
        width: 85%;
        margin: 0 auto;
        padding: 1.5rem 0;
        background-color: #fff;
        box-shadow: 1px 1px 4px;
        border-radius: 4px;
    }

    .nav__item {
        padding: 0.7rem 0;
        font-size: 0.8rem;
        font-weight: 700;
        color: $dark-blue;
        cursor: pointer;

        &:hover {
            color: $dark-grayish-blue;
        }
    }
}

.nav__cta {
    display: none;
}

/* BLOC PRESENTATION */

.container__presentation {

    margin-top: 1rem;

    .pic_charts {
        max-width: 85%;
        display: block;
        margin: auto;
    }
}

.container__text_presentation {
    text-align: center;
    line-height: 1.3;
    margin: auto;

    h1 {
        color: $dark-blue;
        padding-bottom: 0.5rem;
    }

    p {
        color: $dark-grayish-blue;
        line-height: 1.5;
    }
}

.presentation {
    &.cta {
        display: block;
        margin: 2rem auto;
    }
}


/* ADVANTAGES */ 

.container__advantages {
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;

    .container__differences-question {
        text-align: center;
        margin-bottom: 2rem;
    }

    h2 {
        color: $dark-blue;
        padding-bottom: 1.5rem;
    }

    p {
        color: $dark-grayish-blue;
    }
    

    &:first-of-type, :nth-of-type(2) {
        margin-bottom: 2rem;
    }

    .container__list_of_advantages {
        position: relative;
        top: -2rem;
        counter-reset: section;

        .advantage_title {
            margin-bottom: 1rem;
            margin-left: 3rem;
            position: relative;

            &:before {
                counter-increment: section;
                content: '0'counter(section);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 3em;
                height: 1.5rem;
                position: relative;
                text-align: center;
                top: 1.5rem;
                left: -3rem;   
                background: $bright-red;
                border-radius: 20px;
                color: #fff;
                font-size: 0.8rem;
                font-weight: 400;
            }

            &:after {   
                content: '';
                display: block;
                width: 100%;
                height: 1.5rem;
                position: absolute;
                top: 1.5rem;
                left: -2rem;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                z-index: -1;
                background-color: $pale-red;
            }

            color: $dark-blue;
            font-weight: 700;
        }
    }

    .container__list_of_advantages { 
    
    }

}


/* MEDIA QUERIES */ 

@media screen and (min-width: 768px) {

    .html {
        font-size: $font-size-tablet-desktop;
        line-height: $line-height-tablet-desktop;
    }
    /* BACKGROUND */ 
    .container__tablet_bg {

        display: flex;
        justify-content: center;

        .img__tablet-top {
            width: 46rem;
            top: -10rem;
            left: 27rem;
        }
    }

    /* BACKGROUND TABLET BOTTOM */

        .container__tablet_bottom {

            

            .img__tablet-bottom {
                
            }

        }


    /* NAVIGATION */ 
    .nav__logo {
        margin-left: 0;
    }

    .container__hamburger {
        display: none;
    }

    .block__items {
        display: flex;
        position: relative;
        top: 2.3rem;
        justify-content:center;
        .nav__item {
            padding: 0 1rem;
        }
    }

     /* PRESENTATION */ 
    .container__presentation {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 5rem;

        .container__charts {
            height: auto;
            position: relative;
            top: 2rem;
            display: flex;
            justify-content: flex-end;
        }

        .pic_charts {
            width: 100%;
            height: auto;
            margin: 0;
        }

        .container__text_presentation {
            width: 26rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
           
            h1, p {
                text-align: left;
            }

            h1 {
                font-size: 3rem;
                line-height: 1.2;
                padding-bottom: 2rem;
            }

        }

        .presentation {
            &.cta {
                display: block;
                margin: 2rem 0;
            }
        }
    }

    /* ADVANTAGES */ 
    .container__advantages {
        margin-top: 5rem;
        display: flex;
        justify-content: space-between;

        .container__differences-question {
            text-align: left;
        }

        h2 {
            color: $dark-blue;
            width: 20rem;
            padding-bottom: 1.5rem;
        }
    
        p {
            width: 20rem;
            color: $dark-grayish-blue;
            line-height: 1.5;
        }

        .container__list_of_advantages {
            position: relative;
            top: -2rem;
            counter-reset: section;

            &:first-of-type, :nth-of-type(2) {
                margin-bottom: 2rem;
            }

            .advantage_title {
               margin-left: 0;

                &:before {
                    counter-increment: section;
                    content: '0'counter(section);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 3.5em;
                    height: 2rem;
                    position: relative;
                    text-align: center;
                    top: 1.9rem;
                    left: -4rem;   
                    background: $bright-red;
                    border-radius: 20px;
                    color: #fff;
                    font-weight: 400;
                }

                &:after { 
                    display: none;
                }

                color: $dark-blue;
                font-weight: 700;
            }
        }
    }

    .img__tablet-bottom {
        position: absolute;
        z-index: -1;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {



}

@media screen and (min-width: 900px) {

    .nav__cta {
        width: 7rem;
        position: relative;
        display: flex;
        justify-content:center;
        align-items: center;
        top: 0.85rem;
        float: right;
        padding: 0.6rem 0;
        font-size: 0.8rem;
        font-weight: 700;
        border: 1px solid transparent;
        border-radius: 20px;
        color: #fff;
        background-color: $bright-red;
        box-shadow: 0px 6px 10px hsla(12, 88%, 59%, 0.65);
        cursor: pointer;

        &:hover {
           background-color: hsla(12, 88%, 59%, 0.65);
        }
    }
}

@media screen and (min-width: 1200px) {

     .container__presentation {
        margin-top: 5rem;
     }
}